/*----------------------
Common CSS
-----------------------------*/
* {
    font-family: 'Poppins', sans-serif;
}

.bikers-zone-btn-outline {
    background: #E76F51;
    display: flex;
    padding: 10px 24px;
    align-items: center;
    gap: 8px;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
}

.navbar-nav .nav-link.active {
    color: white;
}

/*------------------------------
Banner
------------------------------------*/
.bikers-zone-bg-warning {
    background: #264653;

}
.navbar-toggler{
    background-color: #FFF !important;
}
.bikers-zone-btn-outline-secondary {
    display: flex;
    width: 168px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    background: #E76F51;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    border: none;
}

.dotted-box {
    position: relative;
    width: 95px;
    height: 95px;
    margin-left: -100px;
    margin-top: -400px;

}

.banner_img {
    position: relative;
    z-index: 5;
}

.banner_small_img {
    position: absolute;
    top: 15%;
    right: 10%;
    z-index: -1;
}

/*------------------------
Featured Bikes
-------------------------------*/
.bikers-zone-border-danger {
    width: 58.5px !important;
    height: 0px !important;
    color: red !important;
}
.row{
    margin-right: auto !important;
}

/*------------------------
Latest News
---------------------------*/
.card-text {
    color: #6C6C6C;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.bikers-zone-btn-outline-danger {
    display: flex;
    width: 150px;
    height: 50px;
    padding: 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #E76F51;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid #E76F51;
    border-radius: 5px;
}

.bikers-zone-card-btn-outline-danger {
    display: flex;
    width: 150px;
    height: 50px;
    padding: 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    background: #E76F51;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    border: none;
}

/*----------------------------
Clients Says
----------------------------------*/
.clients-says {
    color: #E76F51;
}

.star {
    color: #E77C40;
}

/*-------------------------------
Frequently Asked Questions
-------------------------------------*/
.question {
    color: #E76F51;
}

.frame-img {
    width: 432px;
    height: 424px;
}

/*-----------------------------------------
Footer
-----------------------------------------------*/
.bikers-zone-custom-gap {
    margin-right: 24px;
}

footer {
    font-size: 16px !important;
}
.social-link-footer {
    margin: 0;
    padding: 0;
}
.bikers-zone-footer li {
    display: inline-block;
    margin-right: 24px;
}

